*{
	box-sizing:border-box;
	margin:0px;
	font-family:georgia;
}


.jeet{
	color:white;
	width:10%;
	display:flex;
	font-weight: bold;
}

.nav{
	height:10vh;
	width:100%;
	background-color:#0A0F1C;
	text-decoration-color:white;
	display:flex;
	gap: 50px;
	align-items: center;
	justify-content: space-between;
	padding:20px 60px;

}

.links {
	display: flex;
	gap: 30px;                  
}
.nav a{
	text-decoration:none;
	color:whitesmoke;
	font-size:15px;

}
.content{
	/*height:90vh;*/
	padding:60px 40px 30px;
	display: flex;
	padding:50px;
	color:white;
	background-color:black;
}
.left{
	width:50%;
}
.right{
	width: 50%;
}

.left h1{
	font-size: 50px;

}

.left h2{
	font-size:25px;
	color:#00adb5;
	margin: 20px 0;
	
}
.left p{
	font-family: Verdana;
	font-size:18px;
	text-transform: capitalize;
	color:darkkhaki;
	padding: 0px 15px;
}



.card1{
	background-color:#111827;
	color: lightgreen;
	padding: 20px;
	border:1px double blue;
	border-radius:25px;
	text-align: center;
	margin:15px;
	font-size:20px;
	border-color:lightcyan;
	


}
.card2{
	background-color:#111827;
	color: lightgreen;
	padding: 20px;
	border:1px double blue;
	border-radius: 25px;
	border-color:lightcyan;
	text-align: center;
	margin:15px;
	font-size:20px;
}
.card3{
	background-color:#111827;
	color: lightgreen;
	padding: 20px;
	border:1px double blue;
	border-radius: 25px;
	border-color:lightcyan;
	text-align: center;
	margin:15px;
	font-size:20px;
}
.card4{
	background-color:#111827;
	color: lightgreen;
	padding: 20px;
	border:1px double; blue;
	border-radius: 25px;
	border-color:lightcyan;
	text-align: center;
	margin:15px;
	font-size:20px;
}
.card1:hover{
	background-color:#62309C;	
}
.card2:hover{
	background-color:#62309C;
}
.card3:hover{
	background-color:#62309C;
}
.card4:hover{
	background-color:#62309C;
}
.content2{
	color:white;
	background-color:black;
	padding:30px 40px 60px;
	font-size:18px;
	display:flex;
}
.h1{
	border: 2px solid  lightyellow;
	padding:30px 30px;
	border-radius:25px;
	margin-right: 15px;
	text-align: center;
	color: #46B382;
	
}
.h2{
	border: 2px solid lightyellow;
	padding:30px 30px;
	border-radius:25px;
	margin-right: 15px;
	text-align: center;
	color: #46B382;
	
}
.h3{
	border: 2px solid lightyellow;
	padding:30px 30px;
	border-radius:25px;
	margin-right: 15px;
	text-align: center;
	color: #46B382;
	
}

.p1{
	border: 2px solid darkmagenta;
	padding:25px 15px ;
	margin-right: 15px;
	margin-right:20px;
	text-align: center;
}

.p2{
	border: 2px solid darkmagenta;
	padding:25px 15px ;
	margin-right: 15px;
	text-align: center;
}
.p3{
	border: 2px solid darkmagenta;
	padding:25px 15px ;
	margin-right: 15px;
	text-align: center;
}


